.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navBarLink {
  text-decoration: none;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeright {
  text-align: right;
}

.Link-for-eventcard{
  text-decoration: none !important;
}

.page_indicator{
  margin: 30px;
  margin-top: "1em" ;
}

.main-div{
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none !important;
}